@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap%22");

.carruselfondo {
  font-family: "Abel", sans-serif;
}

.carruselfondo {
  background-color: #928a8a44;
  color: rgb(37, 35, 38);
}

.testimonio-info .cargo {
  color: #928a8a44;
}


