@font-face {
  font-family: "Giants";
  src: url("../../assets/Giants.ttf") format("truetype");
}

.textos1 {
  background-color: rgb(236, 235, 233);
  border-radius: 1em;
  padding: 1em;
  overflow-x: hidden;
}

.titulos1 {
  font-family: "Giants", cursive;
  font-size: 10em;
  overflow-x: hidden;
}

.titulos2 {
  font-family: "Giants", cursive;
  font-size: 3em;
  overflow-x: hidden;
}

@media (max-width: 576px) {
  .iframe-container {
    width: 100%;
    height: 100%;
  }
}
